@model List<Bloggie.Web.Models.Domain.Tag>
@{
}

<div class="bg-secondary py-2">
    <div class="container">
        <h1>Show all Tags - Admin Functionallity</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-dark table-hover table-striped ">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Display Name</td>
                        <td>Operations</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.DisplayName</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group">
                                    <a asp-action="Edit" class="btn btn-primary " asp-controller="AdminTags" asp-route-id="@item.Id">Edit</a>
                                    <button asp-controller="AdminTags" asp-action="Delete" form="myform" asp-route-id="@item.Id" type="submit" class="btn btn-danger ">Delete</button>
                                </div>
                                <form method="post" id=myform>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h1>There are no tags to display! (0)))</h1>
    }
</div>
